@media (max-width: 645px) {
    .trendii-single-brand-on-image-container {
        width: calc(100vw - 20px);
    }
}

@media (max-width: 420px) {
    .trendii-single-brand-product-detail-name-single {
        font-size: 12px;
    }

    .trendii-single-brand-product-detail-price {
        font-size: 12px;
    }

}

@media (max-width: 320px) {
    .trendii-single-brand-product-detail-name-single {
        font-size: 11px;
        line-height: 1.3;
    }

    .trendii-single-brand-product-detail-price {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .trendii-single-brand-product-detail-price {
        font-size: 9px;
    }
}


