:root {
    --trendii-product-image-border-color: #e3e3e3;
    --trendii-on-sale-tag-color: rgb(255 0 0 / 80%);
    --trendii-on-sale-tag-light-color: #fff0;
    --trendii-on-sale-tag-font-color: #ffffff;
    --trendii-product-image-background-color: #eeeeee;
    --trendii-product-name-color: #000000;
    --trendii-product-button-color: rgba(0, 0, 0, 0.6);
}

body {
    margin: 0px;
    padding: 0px;
}

/* Basic layout styling starts */

.trendii-row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
}

/* Two columns in a row */
.trendii-column-2 {
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
}

/* Five columns in a row */
.trendii-column-5 {
    height: 100%;
    width: 20%;
}

/* Six columns in a row */
.trendii-column-6 {
    height: 100%;
    width: 16.6%;
}

/* Four columns in a row */
.trendii-column-4 {
    width: 25%;
}

.h-space {
    padding: 0 10px;
    box-sizing: border-box;
}

.h-space-ad-5 {
    padding: 0 4px;
    box-sizing: border-box;
}

.h-space-ad-7{
    padding: 0 8px;
    box-sizing: border-box;
}

.items-center {
    align-items: center;
}

/* Distance between two rows */
.gap-3 {
    margin-bottom: 10px;
}

.negative-margin {
    margin: 0 -8px;
    width: auto;
}

.d-none{
    display: none;
}

/* Basic layout styling ends */

.trendii-products {
    display: flex;
    border: 1px solid var(--trendii-product-image-border-color);
    height: auto;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    border-radius: 6px;
}

.trendii-logo {
    width: 100%;
    padding: 3px 0 5px;
    justify-content: space-between;
}

.trendii-logo img {
    height: 18px;
}

.trendii-logo img:last-child {
    height: 15px;
    float: right;
}

.trendii-common-style{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.trendii-product-box-ad-1 {
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    overflow: hidden;
}

.trendii-product-box-ad-2 {
    flex: 0 0 50%;
    max-width: 50%;
}

.trendii-product-box-ads-3 {
    flex: 0 0 35%;
    max-width: 35%;
}

.trendii-product-box-ads-4 {
    flex: 0 0 35%;
    max-width: 35%;
}

.trendii-product-box-ad-7 {
    flex: 0 0 45%;
    max-width: 45%;
    position: relative;
    overflow: hidden;
}

.trendii-product-box-ad-5 {
    height: calc(100% - 51px);
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.trendii-left-product-box-ad-7 {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

 .trendii-padding-left{
    padding-bottom: 190% !important;
}

/* Product images inner target styling starts */
.innerTarget div:first-of-type {
    padding-bottom: 130%;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.innerTarget div:first-of-type img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    border-radius: 4px;
    border: 1px solid var(--trendii-product-image-border-color);
    box-sizing: border-box;
}

.innerTarget span {
    display: block;
    padding: 2px 2px;
    text-transform: uppercase;
    position: absolute;
    max-width: max-content;
    top: 10px;
    left: 0;
    background: var(--trendii-on-sale-tag-color);
    color: var(--trendii-on-sale-tag-font-color);
    font-size: 8px;
    line-height: 10px;
    z-index: 2;
}

.innerTarget span::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    border-left: 0 solid transparent;
    border-right: 7px solid var(--trendii-on-sale-tag-light-color);
    border-top: 7px solid var(--trendii-on-sale-tag-color);
    border-bottom: 7px solid var(--trendii-on-sale-tag-color);
}

/* Product image inner target styling stops */

.trendii-product-detail-ad-1 {
    flex: 0 0 70%;
    max-width: 70%;
}

.trendii-product-detail-ads-2 {
    flex: 0 0 50%;
    max-width: 50%;
}

.trendii-product-detail-ads-3 {
    flex: 0 0 65%;
    max-width: 65%;
}

.trendii-product-detail-ads-4 {
    flex: 0 0 65%;
    max-width: 65%;
    margin-top: 5px
}

.trendii-product-detail-ad-7 {
    flex: 0 0 55%;
    max-width: 55%;
}

.trendii-product-detail-ad-5 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.trendii-ads-wrapper-7 {
    height: 47%;
    border-bottom: 10px solid transparent;
}

.productText p {
    margin: 0;
    font-size: 14px;
    font-family: "Georgia";
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: var(--trendii-product-text-color);
}

.lineClamp p {
    -webkit-line-clamp: 1 !important;
}

.productText em {
    font-size: 15px;
    font-family: "Georgia";
    line-height: 22px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--trendii-product-text-color);
}

.trendii-view-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: var(--trendii-on-sale-tag-font-color);
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background: var(--trendii-product-button-color);
    z-index: 1;
    height: 30%;
    font-size: 80%;
    max-height: 50px;
    overflow: hidden;
    transition: all 0.3s ease;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.trendii-product-box-ad-1:hover .trendii-view-btn,
.trendii-product-box-ad-2:hover .trendii-view-btn,
.trendii-product-box-ads-4:hover .trendii-view-btn,
.trendii-product-box-ad-7:hover .trendii-view-btn,
.trendii-left-product-box-ad-7:hover .trendii-view-btn,
.trendii-product-box-ads-3:hover .trendii-view-btn,
.trendii-product-box-ad-5:hover .trendii-view-btn {
    opacity: 1;
    visibility: visible;
    bottom: 0;
    cursor: pointer;
}

.viewBtn button{
    border: none;
    background-color: black;
    color: #ffffff;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 11px;
    padding: 10% 20%; 
}

.btnPadding-ad-1{
    padding: 2% 5% !important; 
}

.btnPadding{
    padding: 5% 10% !important; 
}

/* Responsive styling starts */

@media (max-width: 480px) {
    .productText p {
        font-size: 10px;
        line-height: 10px;
    }

    .productText em {
        font-size: 10px;
        line-height: 10px;
    }

    .trendii-product-detail-ad-5 em {
        font-size: 11px;
        line-height: 10px;
    }

    .innerTarget span {
        font-size: 5px;
        padding: 1px 1px;
    }

    .d-none{
        display: block;
    }

    .trendii-view-btn{
        display: none;
    }

    .innerTarget span::after {
        border-bottom: 5px solid var(--trendii-on-sale-tag-color);
    }
}

@media (max-width: 1280px) {
    .d-none{
        display: block;
    }

    .trendii-view-btn{
        display: none;
    }
}

@media (max-width: 350px) {
 .trendii-padding-left{
    padding-bottom: 200% !important;
 }
 .viewBtn button{
    font-size: 9px; 
}
}

/* Responsive styling ends */